<%- include('../../fragments/header.ejs') %>
<main>
  <h2>Account List</h2>

  <p>Account list empty.</p>

  <p>
    <a href="form.ejs.html" class="button-add">Add new account</a>
  </p>

</main>
<%- include('../../fragments/footer.ejs') %>