<%- include('../../fragments/header.ejs') %>
<main>
  <h2>Account Details</h2>
  <form class="form">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" value="kubacow" disabled>
    <span id="errorUsername"></span>

    <label for="name">Name: </label>
    <input type="text" name="name" id="name" value="Jakub" disabled>
    <span id="errorName"></span>

    <label for="surname">Surname:</label>
    <input type="text" name="surname" id="surname" value="Kowalski" disabled>
    <span id="errorSurname"></span>

    <label for="gender">Gender:</label>
    <select name="gender" id="gender" disabled>
      <option selected>Male</option>
      <option>Female</option>
      <option>Other</option>
    </select>
    <span id="errorGender"></span>

    <label for="password">Password:</label>
    <input type="text" name="password" id="password" value="*******" disabled>
    <span id="errorPassword"></span>

    <label for="email">E-mail:</label>
    <input type="text" name="email" id="email" value="kubacow@mail.com" disabled>
    <span id="errorEmail"></span>

    <label for="date">Date Created</label>
    <input type="date" name="date" id="date" value="2022-01-30" disabled>
    <span id="errorDate"></span>



    <div class="form-buttons">
      <a href="" class="button-edit">Edit</a>
    </div>
  </form>
  <h2>Job offers</h2>

  <table class="table-list">
    <thead>
    <tr>
      <th>Company Name</th>
      <th>Position</th>
      <th>Location</th>
      <th>Minimum Salary (PLN)</th>
      <th>Maximum Salary (PLN)</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>BBC</td>
      <td>Reporter</td>
      <td>London, office</td>
      <td>4500</td>
      <td>5500</td>
    </tr>
    <tr>
      <td>Google</td>
      <td>Data Analyst</td>
      <td>Warsaw, home</td>
      <td>13000</td>
      <td>18000</td>
    </tr>
    <tr>
      <td>Job Finder</td>
      <td>Junior Frontend Developer</td>
      <td>Warsaw, office</td>
      <td>20000</td>
      <td>25000</td>
    </tr>
    </tbody>
  </table>

  <div>
    <a href="views/index.ejs" class="form-button-return">Return</a>
  </div>
</main>
<%- include('../../fragments/footer.ejs') %>