<%- include('../../fragments/header.ejs') %>
<main>
  <h2>New account</h2>
  <form class="form" novalidate onsubmit="return validateForm();">
    <label for="username">Username: <span class="symbol-required">*</span></label>
    <input type="text" name="username" id="username" class="error-input" required>
    <span id="errorUsername" class="errors-text">Field is required!</span>

    <label for="name">Name: <span class="symbol-required">*</span></label>
    <input type="text" name="name" id="name" class="error-input" required>
    <span id="errorName" class="errors-text">Field is required!</span>

    <label for="surname">Surname: <span class="symbol-required">*</span></label>
    <input type="text" name="surname" id="surname" class="error-input" required>
    <span id="errorSurname" class="errors-text">Field is required!</span>

    <label for="gender">Gender: <span class="symbol-required">*</span></label>
    <select name="gender" id="gender" class="error-input">
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>
    </select>
    <span id="errorGender" class="errors-text">Field is required!</span>

    <label for="password">Password: <span class="symbol-required">*</span></label>
    <input type="text" name="password" id="password" class="error-input" required>
    <span id="error" class="errors-text">Field is required</span>

    <label for="email">E-mail: <span class="symbol-required">*</span></label>
    <input type="text" name="email" id="email" class="error-input" required>
    <span id="errorEmail" class="errors-text">Field is required!</span>

    <label for="date">Creation Date: <span class="symbol-required">*</span></label>
    <input type="date" name="date" id="date" class="error-input" required>
    <span id="errorDate" class="errors-text">Field is required!</span>

    <div class="form-buttons">
      <p id="errorSummary" class="errors-text">Form contains errors!</p>
      <input type="submit" value="Add" class="form-button-submit">
      <a href="account-list.ejs" class="form-button-cancel">Cancel</a>
    </div>
  </form>

</main>
<%- include('../../fragments/footer.ejs') %>