<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Finder</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/validationCommon.js"></script>
    <script src="/js/validationAccountForm.js"></script>
</head>
<body>

<%- include('../../fragments/header.ejs') %>


<main>
  <h2>New account</h2>
  <form class="form" novalidate onsubmit="return validateForm();">
      <label for="username">Username: <span class="symbol-required">*</span></label>
      <input type="text" name="username" id="username" placeholder="2-60 characters" required>
      <span id="errorUsername"></span>

      <label for="name">Name: <span class="symbol-required">*</span></label>
      <input type="text" name="name" id="name" placeholder="2-60 characters" required>
      <span id="errorName"></span>

      <label for="surname">Surname: <span class="symbol-required">*</span></label>
      <input type="text" name="surname" id="surname" placeholder="2-60 characters" required>
      <span id="errorSurname"></span>

      <label for="gender">Gender: <span class="symbol-required">*</span></label>
      <select name="gender" id="gender">
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
      </select>
      <span id="errorGender"></span>

      <label for="password">Password: <span class="symbol-required">*</span></label>
      <input type="text" name="password" id="password" placeholder="2-10 characters" required>
      <span id="error"></span>

      <label for="email">E-mail: <span class="symbol-required">*</span></label>
      <input type="text" name="email" id="email" placeholder="ex. name@domain.com" required>
      <span id="errorEmail"></span>

      <label for="date">Date Created: <span class="symbol-required">*</span></label>
      <input type="date" name="date" id="date" required>
      <span id="errorDate"></span>

    <div class="form-buttons">
      <p id="errorSummary"></p>
      <input type="submit" value="Add" class="form-button-submit">
      <a href="/accounts" class="form-button-cancel">Cancel</a>
    </div>

  </form>

</main>
<%- include('../../fragments/footer.ejs') %>