<%- include('../../fragments/header.ejs') %>
<main>
    <h2>New job offer</h2>
    <form class="form" novalidate onsubmit="return validateForm();">
        <label for="companyName">Company name: <span class="symbol-required">*</span></label>
        <input type="text" name="companyName" id="companyName" class="error-input" required>
        <span id="errorCompanyName" class="errors-text">Field is required!</span>

        <label for="position">Position: <span class="symbol-required">*</span></label>
        <input type="text" name="position" id="position" class="error-input" required>
        <span id="errorPosition" class="errors-text">Field is required!</span>

        <label for="location">Location: <span class="symbol-required">*</span></label>
        <input type="text" name="location" id="location" class="error-input" required>
        <span id="errorLocation" class="errors-text">Field is required!</span>

        <label for="minSalary">Minimum salary (PLN):</label>
        <input type="number" name="minSalary" id="minSalary" required>
        <span id="errorMinSalary" class="errors-text"></span>

        <label for="maxSalary">Maximum salary (PLN):</label>
        <input type="number" name="maxSalary" id="maxSalary" required>
        <span id="errorMaxSalary" class="errors-text"></span>

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="5" cols="40"></textarea>
        <span id="errorDescription" class="errors-text"></span>

        <div class="form-buttons">
            <p id="errorSummary">Form contains errors!</p>
            <input type="submit" value="Add" class="form-button-submit">
            <a href="form-invalid.ejs" class="form-button-cancel">Cancel</a>
        </div>
    </form>

</main>
<%- include('../../fragments/footer.ejs') %>