<%- include('../../fragments/header.ejs') %>
<main>
  <h2>Job offer details</h2>
  <form class="form">
    <label for="companyName">Company name: *</label>
    <input type="text" name="companyName" id="companyName" value="BBC" disabled>
    <span id="errorCompanyName"></span>

    <label for="position">Position: *</label>
    <input type="text" name="position" id="position" value="Reporter" disabled>
    <span id="errorPosition"></span>

    <label for="location">Location: *</label>
    <input type="text" name="location" id="location" value="London, office" disabled>
    <span id="errorLocation"></span>

    <label for="minSalary">Minimum salary (PLN):</label>
    <input type="number" name="minSalary" id="minSalary" value="1500" disabled>
    <span id="errorMinSalary"></span>

    <label for="maxSalary">Maximum salary (PLN):</label>
    <input type="number" name="maxSalary" id="maxSalary" value="1800" disabled>
    <span id="errorMaxSalary"></span>

    <label for="description">Description:</label>
    <textarea id="description" name="description" rows="5" cols="40" disabled>Performing interviews.</textarea>
    <span id="errorDescription"></span>

    <div class="form-buttons">
      <a href="" class="button-edit">Edit</a>
    </div>
  </form>

  <h2>Accounts</h2>

  <table class="table-list">
    <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Surname</th>
      <th>E-mail</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>kubacow</td>
      <td>Jakub</td>
      <td>Kowalski</td>
      <td>kubacow@mail.com</td>
    </tr>
    <tr>
      <td>michal2001</td>
      <td>Michał</td>
      <td>Donica</td>
      <td>michal2001@mail.com</td>
    </tr>
    <tr>
      <td>john2000</td>
      <td>John</td>
      <td>Smith</td>
      <td>johnjohn@mail.com</td>
    </tr>
    </tbody>
  </table>

  <div>
    <a href="/job-offers" class="form-button-return">Return</a>
  </div>

</main>
<%- include('../../fragments/footer.ejs') %>