<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Job Offers</h2>
    No available offers
    <p><a href="form.ejs" class="button-add">Add new job offer</a></p>

</main>
<%- include('../../fragments/footer.ejs') %>