<%- include('./fragments/header.ejs') %>
<main>
    <h2>Main Page</h2>
    <p>This Job Application helps you find jobs across multiple fields of work. Search through jobs and add them to your
        library. Remember to make an account first.</p>
</main>
<%- include('./fragments/footer.ejs') %>