<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Edit recruitment</h2>
    <form class="form">
        <label for="username">Username: <span class="symbol-required">*</span></label>
        <select name="username" id="username" disabled>
            <option>-- Select user --</option>
            <option selected>kubacow</option>
            <option>michal2001</option>
            <option>adamaria</option>
            <option>john2000</option>
        </select>
        <span id="errorUsername"></span>

        <label for="companyName">Company Name: <span class="symbol-required">*</span></label>
        <select name="companyName" id="companyName" disabled>
            <option>-- Select company --</option>
            <option>Google</option>
            <option>CIA</option>
            <option selected>BBC</option>
            <option>Zara</option>
            <option>Job Finder</option>
        </select>
        <span id="errorCompanyName"></span>

        <label for="position">Position: <span class="symbol-required">*</span></label>
        <input type="text" name="position" id="position" value="Reporter" disabled>
        <span id="errorPassword"></span>

        <label for="status">Status:</label>
        <select name="status" id="status">
            <option>Opened</option>
            <option>CV sent</option>
            <option selected>Interviewing</option>
            <option>Closed</option>
        </select>
        <span id="errorStatus"></span>

        <label for="dateOpened">Date Opened:</label>
        <input type="date" name="dateOpened" id="dateOpened" value="2022-10-25">
        <span id="errorDateOpened"></span>

        <label for="notes">Notes:</label>
        <textarea id="notes" name="notes" rows="5" cols="40">The account has been admitted for an interview. Pending response from company.</textarea>
        <span id="errorNotes"></span>

        <div class="form-buttons">
            <p id="errorSummary"></p>
            <input type="submit" value="Add" class="form-button-submit">
            <a href="recruitment-list.html" class="form-button-cancel">Cancel</a>
        </div>
    </form>

</main>
<%- include('../../fragments/footer.ejs') %>