<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Finder</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/validationCommon.js"></script>
    <script src="/js/validationRecruitmentForm.js"></script>
</head>
<body>

<%- include('../../fragments/header.ejs') %>
<main>
    <h2>New recruitment</h2>
    <form class="form" novalidate onsubmit="return validateForm();">

        <label for="recUsername">Username: <span class="symbol-required">*</span></label>
        <select name="recUsername" id="recUsername" required>
            <option value="0">-- Select username --</option>
            <option value="1">kubacow</option>
            <option value="2">michal2001</option>
            <option value="3">adamaria</option>
            <option value="4">john2000</option>
        </select>
        <span id="errorRecUsername" class="errors-text"></span>

        <label for="companyRecName">Company Name: <span class="symbol-required">*</span></label>
        <select name="companyRecName" id="companyRecName" required>
            <option value="0">-- Select company --</option>
            <option value="1">Google</option>
            <option value="2">CIA</option>
            <option value="3">BBC</option>
            <option value="4">Zara</option>
            <option value="5">Job Finder</option>
        </select>
        <span id="errorCompanyRecName" class="errors-text"></span>

        <label for="recPosition">Position: <span class="symbol-required">*</span></label>
        <input type="text" name="recPosition" id="recPosition" required>
        <span id="errorRecPosition" class="errors-text"></span>

        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="1">Opened (default)</option>
            <option value="2">CV sent</option>
            <option value="3">Interviewing</option>
            <option value="4">Closed</option>
        </select>
        <span id="errorStatus" class="errors-text"></span>

        <label for="dateOpened">Date Opened: <span class="symbol-required">*</span></label>
        <input type="date" name="dateOpened" id="dateOpened" required>
        <span id="errorDateOpened" class="errors-text"></span>

        <label for="notes">Notes:</label>
        <textarea id="notes" name="notes" rows="5" cols="40"></textarea>
        <span id="errorNotes" class="errors-text"></span>

        <div class="form-buttons">
            <p id="errorSummary" class="errors-text"></p>
            <input type="submit" value="Add" class="form-button-submit">
            <a href="/recruitments" class="form-button-cancel">Cancel</a>
        </div>
    </form>

</main>
<%- include('../../fragments/footer.ejs') %>