<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Recruitment Details</h2>
    <form class="form">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" value="kubacow" disabled>
        <span id="errorUsername"></span>

        <label for="companyName">Company Name: </label>
        <input type="text" name="companyName" id="companyName" value="BBC" disabled>
        <span id="errorCompanyName"></span>

        <label for="position">Position:</label>
        <input type="text" name="position" id="position" value="Reporter" disabled>
        <span id="errorPosition"></span>

        <label for="status">Status:</label>
        <input type="text" name="status" id="status" value="Interviewing" disabled>
        <span id="errorStatus"></span>

        <label for="dateOpened">Date Opened:</label>
        <input type="date" name="dateOpened" id="dateOpened" value="2022-10-25" disabled>
        <span id="errorDateOpened"></span>

        <label for="notes">Notes:</label>
        <textarea id="notes" name="notes" rows="5" cols="40" disabled>The account has been admitted for an interview. Pending response from company.</textarea>
        <span id="errorNotes"></span>

        <div class="form-buttons">
            <a href="edit-form.ejs" class="button-edit">Edit</a>
            <a href="../../index.html" class="form-button-return">Return</a>
        </div>
    </form>
</main>
<%- include('../../fragments/footer.ejs') %>