<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Recruitment List</h2>

    <p>Recruitment list empty.</p>

    <p>
        <a href="form.ejs" class="button-add">Add new recruitment</a>
    </p>

</main>
<%- include('../../fragments/footer.ejs') %>