<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Finder</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<header>
    <h1>Job Finder</h1>
    <img src="/images/logo.png" alt="Job Finder Logo">
</header>
<nav>
    <ul>
        <li><a href="/" class="<%= navLocation === 'main' ? 'active' : '' %>">Main Page</a></li>
        <li><a href="/accounts" class="<%= navLocation === 'acc' ? 'active' : '' %>">Accounts</a></li>
        <li><a href="/job-offers" class="<%= navLocation === 'job' ? 'active' : '' %>">Job Offers</a></li>
        <li><a href="/recruitments" class="<%= navLocation === 'rec' ? 'active' : '' %>">Recruitment</a></li>
    </ul>
</nav>